<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>About Page</title>
</head>
<body>
    {{>header}}
    <h2>This is about weather forecast application</h2>
    <div>
        <img class="portrait" src="/images/robot.png">
    </div>
    {{>footer}}
</body>
</html>